@media screen and (min-width: 480px) and (max-width: 767px) {

body {
	background-image: none;
}
header.main {
	position: static;
}
#intro {
	left: 0;
	height: auto;
	overflow: auto;
	padding: 10px 3%;
	margin: 0;
	text-align: left;
	width: 94%;
}
nav.main{
	width: 100%;
	height: auto;
}
nav.main ul{
	top: 0px;
	left: 0px;
	transition: all 1s ease;
}
nav.main ul li{
	position: static;
	margin: 0 0 3px 0;
	float: left;
	width: 85px;
	height: 50px;
}
.csstransforms nav.main ul li a{
	width: 85px;
	height: 50px;
	line-height: 3.0em;
	transform: none;
	-webkit-transform: none;
}
.csstransforms nav.main ul li a span{
	transform: none;
	-webkit-transform: none;
}
.scroll-section-container{
	height: auto;
}
.scroll-section-container .section-inner {
	width: 94%;
	padding: 10px 3%;
	max-width: 768px;
}
.scroll-section-container .items .item{
	padding: 0;
	min-width: 480px;
	max-width: 768px;
}
#about-us, #service, #project, #faqs, #contact-us {
	margin: 0;
}

#about-us .intro {
	width: 240px;
}
.section-inner .scroll {
	height: auto;
}
footer.main {
	background: #00ABBC;
	position: relative;
	text-align: center;
}
footer.main  .logo{
	left: 0;
}
footer.main .copyright {
	padding-left: 36%;
	position: absolute;
	float: right;
	margin: 0px;
}
footer.main .social {
	right: none;
	left: none;
}

#contact-us .map {
	float: none;	
	max-width: 768px;
	margin: 0 auto;
}
.contact-form input[type="text"], .contact-form input[type="email"] {
	width: 300px;
}
.contact-form textarea{
	width: 304px;
}

}