/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
	background: #00ABBC;
	font: 16px/1em Helvetica,Arial,sans-serif;
	padding: 0;
	color: white;	
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	color: white;
	text-decoration: none;
	 outline: 0;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
h1{
	font-size: 2em;
	line-height: 150%;
}
h2{
	font-size: 1.8em;
	line-height: 150%;
	text-transform: uppercase;
}
.fontface h1, .fontface h2{
	font-family: TrajanPro;
}
header.main{
	position: absolute;
	left: 80px;
	bottom: 8px;
	color: #006B91;
	background-color: white;
	padding: 2px 8px;
	z-index: 10;
	text-align: center;
}
.logo a, .logo a:visited{
	color: #006B92;
	font-size: 2.1em;
	text-decoration: none;
	text-shadow: #aaa 3px 3px 3px;
}
.logo .slogan{
	color: #C7C3D4;
	font-size: 1.4em;
	border-top: 1px solid #C7C3D4;
	padding: 3px 0;
	margin-top: 3px;
}
.fontface .logo a{
	font: 2.1em TrajanPro;
	text-shadow: none;
}
.fontface .logo .slogan {
	font: 1.3em TrajanPro;
	text-shadow: none;
}
#wrap{
	 /*background: transparent url(../images/bg_body.jpg) no-repeat top left;*/
	overflow: hidden;
}
.arrow {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid white;
    border-radius: 1000px 1000px 1000px 1000px;
    cursor: pointer;
    height: 150px;
    margin-left: -75px;
    margin-right: -75px;
    margin-top: -75px;
    position: fixed;
    top: 50%;
    width: 150px;
    z-index: 9001;
}
.arrow.prev {
    background: url("../images/arrow_left.png") no-repeat scroll 75% center transparent;
    left: 0;
}
.arrow.next {
    background: url("../images/arrow_right.png") no-repeat scroll 25% center transparent;
    right: 0;
}
.arrow .altColor {
    border: 2px solid #DDDC00;
    border-radius: 1000px 1000px 1000px 1000px;
    height: 146px;
    width: 146px;
}
header.main{
}
nav.main{
	position: relative;
	width: 870px;
	height: 580px;
	overflow: hidden;
	float: left;
}
nav.main ul{
	position: relative;	
	left: 81px;
	top: -10px;
	color: white;
	font-weight: normal;
}
nav.main ul li{
	float: left;
	margin: 1px;	
	text-align: center;
	width: 116px;
	height: 116px;
	margin-left: 62px;
	margin-bottom: 62px;
	position: absolute;
}
nav.main ul li.hex-1{
	left: 0;
	top: 0;
}
nav.main ul li.hex-1 a, nav.main ul li.hex-2 a, nav.main ul li.hex-4 a, nav.main ul li.hex-7 a{
	background-color: #615489;
}
nav.main ul li.hex-2{
	left: 83px;
	top: 83px;
}
nav.main ul li.hex-3{
	left: 167px;
	top: 167px;
}
nav.main ul li.hex-3 a{
	background-color: #62335D;
}
nav.main ul li.hex-4{
	left: 249px;
	top: 249px;
}
nav.main ul li.hex-5{
	left: 335px;
	top: 334px;
}
nav.main ul li.hex-5 a, nav.main ul li.hex-6 a, nav.main ul li.hex-8 a{
	background-color:  #787BA8;
}
nav.main ul li.hex-6{
	left: 167px;
	top: 0px;
}
nav.main ul li.hex-7{
	left: 250px;
	top: 83px;	
}
nav.main ul li.hex-8{
	left: 333px;
	top: 166px;
}
nav.main ul li.hex-9{
	left: 416px;
	top: 249px;
}
nav.main a{
	background-color: #00ABBC;
	vertical-align: middle;
	width: 116px;
	height: 116px;
	display: block;
	line-height: 8em;
	font-size: 90%;
	overflow: hidden;
}
nav.main a:hover, nav.main ul li.hex-1 a:hover, nav.main ul li.hex-2 a:hover, nav.main ul li.hex-3 a:hover, nav.main ul li.hex-4 a:hover, nav.main ul li.hex-7 a:hover, nav.main ul li.hex-8 a:hover, nav.main ul li.hex-9 a:hover{
	background-color: #ff9900;
	transition: all 1s ease;
	font-size: 100%;
}
.csstransforms nav.main ul li a{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	transform: rotate(-45deg);
}
.csstransforms nav.main ul li a span{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-1);
	transform: rotate(45deg);
	display: block;
}
a.plus{
	text-align: left;
	float: left;
}
.scroll-section-container{
	height: 580px;
    width: 1300px;
	position:relative;
	overflow:hidden;
	clear:both;
	background-color: transparent;
}
.scroll-section-container .items {
	width:20000em;
	position:absolute;
	clear:both;
	margin:0;
	padding:0;
	border:0;
}
.scroll-section-container .items .item {
	float:left;
	display:block;
	width:1300px;
}
.scroll-section-container h2{
	padding: 0px 0px;
	margin-bottom: 10px;
}
.scroll-section-container .section-inner{
	width: 880px;
	margin: 0 auto;
	padding: 20px 100px;
	position: relative;
	overflow: hidden;
}
.section-inner .scroll{
	height: 420px;
}
#landing{
	background: #00ABBC url(../images/bg_body.jpg) no-repeat top left;
}
#introduction{
	text-align: right;
	margin: 50px 20px 20px 0;
	position: relative;
	width: 370px;
	height: 320px;
	float: left;
	margin-right: 15px;
	padding: 0 8px;
}
#about-us .section-inner{
	background-color: #64CC8D;
}
#service .section-inner{
	background-color: #64CC8D;
}
#project .section-inner{
	background: #B8AE4D;
	/*background: url("../images/pattern.png") repeat fixed 0 0 #E7F9FC;*/
}
#faqs{
}
#faqs .section-inner{
	background: url("../images/bg_faqs.png") no-repeat scroll left bottom #7A5CA1;
	/*border: 2px solid #7A5CA1;*/
}
#contact-us .section-inner{
	background: url("../images/bg_contact.png") no-repeat scroll left bottom #8AB84B;;
	text-align: left;	
}
#about-us, #service, #project, #faqs, #contact-us{
	margin: 10px;	
	overflow: hidden;
}
section.main .vscroll{
	height: 350px;
	overflow: hidden;
}
section.main .scroll{
	overflow: auto;
}
section p {
	line-height: 120%;
	margin-bottom: 5px;
	color: #FFF7DF;
}
html.fontface section.main{
	/*font-family: MyriadPro;
	font-size: 100%;*/
}
footer.main{
	position: absolute;
	left: 550px;
	bottom: 10px;
	font-size: .8em;
}
html.fontface footer.main{
	font-size: .8em;
}
footer.main{
	width: 730px;
}
footer.main ul{
	list-style-type: none;
	overflow: hidden;
	padding: 5px;
	color: white;
}
footer.main ul li{
	float: left;
	margin: 0 0 0 5px;
	padding: 0 5px 0 0;
	white-space: nowrap
}
footer.main ul li:after {
    content:'';
    content:none;
}
footer.main ul li:last-child{
	border-right: none;
}
footer.main .copyright{
	float: left;
}
footer.main .copyright li{
	padding: 5px 0;
}
footer.main .social{
	float: right;
}
footer.main .social i{
	position: relative;
}
footer.main .social li a,footer.main .social li a:active,footer.main .social li a:visited{
	text-indent: -999em;
	background: transparent url(../images/icon_social.png) no-repeat top left;
	width: 30px;
	height: 30px;
	display: inline-block;
}
footer.main .social li a:hover{
	background-position: 0 -30px;	
}
footer.main .social li a.twitter{
	background-position: -30px 0;
}
footer.main .social li a.twitter:hover{
	background-position: -30px -30px;
}
footer.main .social li a.linkedin{
	background-position: -60px 0px;
}
footer.main .social li a.linkedin:hover{
	background-position: -60px -30px;
}
footer.main .social li a.facebook{
	background-position: -90px 0px;
}
footer.main .social li a.facebook:hover{
	background-position: -90px -30px;
}
footer.main .social li a.googleplus{
	background-position: -120px 0;
}
footer.main .social li a.googleplus:hover{
	background-position: -120px -30px;
}
/************************************************/
#about-us .thumbnails{
	margin-top: 50px;
}
#about-us .thumbnails:after {
    clear: both;
    content: "";
    display: table;
}
#about-us .thumbnails li {
    display: inline;
    float: left;
    margin: 0 15px 20px 15px;
    width: 260px;
	position: relative;
}
#about-us .thumbnails img {
    height: 145px;
    width: 250px;
}
/************************ FAQs **********************/
div.faqEntry {
    clear: left;
    margin-bottom: 0;
    min-height: 0;
}
div.faqEntry .question:before{
	content: 'Q. ';
}
div.faqEntry .question  a{
    margin-bottom: 5px;
	background: transparent url(../images/icon_down_up.png) no-repeat top right;
	padding-right: 40px;
}
div.faqEntry .question a:hover, div.faqEntry .question a.link_expand:hover{
	background-position: bottom right;
}
div.faqEntry div.collapse {
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
    width: 0;
}
div.faqEntry div.collapse div.answer {
    display: none;
}
div.faqEntry div.expand, div.faqEntry div.collapse {
    display: block;
}
div.faqEntry div.answer {
    margin-top: 1px;
    min-height: 0;
}
div.faqEntry div.expand div.answer {
    font-size: 13px;
    line-height: 20px;
}
div.faqEntry div.answer :before{
	content: 'A. ';
}
/***************** Projects ******************/
#project .filter {
    font-size: 14px;
    position: absolute;
    left: 30px;
	top: 30px;
}
#project .filter ul {
    /*background-color: #CECFD5;*/
    background-position: 0 -472px;
    background-repeat: repeat-x;
    color: #3C3E45;
    display: block;
    height: 37px;
    line-height: 36px;
    margin: 0 19px;
    overflow: hidden;
}
.ns-lava_thumb, #project .filter .thumb {
    background-position: 100% -404px;
    left: 0;
    margin: 3px 15px 0 3px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.ns-lava_item:first-child, #project .filter li:first-child {
    margin: 0;
}
.ns-lava_item, #project .filter li {
    color: #3C3E45;
    float: left;
    margin: 0 0 0 30px;
    position: relative;
    z-index: 2;
}

#project .thumbnails{
	margin-top: 50px;
}
#project .thumbnails:after {
    clear: both;
    content: "";
    display: table;
}
#project .thumbnails img {
    height: 145px;
    width: 250px;
}
#project .thumbnails li {
    display: inline;
    float: left;
    margin: 0 15px 20px 15px;
    width: 260px;
	position: relative;
}
/* tooltip styling. by default the element to be styled is .tooltip  */
#project .thumbnails .tooltip {
	position: absolute;
	top: 65px;
	left: 0;
	display:none;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
    height: 120px;
    padding: 5px;
    width: 242px;
	background: #fff;
}
#project .thumbnails .tooltip p{
    color: #ccc;
}
#project .thumbnails li:hover .tooltip{
	display: inline-block;
}
#project .thumbnail-list .image, #project .thumbnails .image {
    border: 5px solid;
    /*border-radius: 5px 5px 5px 5px;*/
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.28);
    color: white;
    display: inline-block;
    overflow: hidden;
}
#project .thumbnail-list .image:hover, #project .thumbnails .image:hover, .ns-rollover.active, .active.ns-rollover-thin, #project .thumbnail-list .active.image, #project .thumbnails .active.image {
    color: #FF9900;
}
#project .thumbnails .title {
    display: block;
    margin: 15px 0 0;
    text-align: center;
}
.borderradius.boxshadow.cssgradients #project .filter ul {
    /*background: linear-gradient(rgba(0, 0, 0, 0.08), transparent) repeat scroll 0 0 #D6D7DD;*/
    border-radius: 18px 18px 18px 18px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28) inset, 0 1px white;
    height: 36px;
    line-height: 36px;
    margin: 0 0 1px;
    padding: 0 19px;
}
.borderradius.boxshadow.cssgradients .ns-lava_thumb, .borderradius.boxshadow.cssgradients #project .filter .thumb, #project .filter .borderradius.boxshadow.cssgradients .thumb {
    background: none repeat scroll 0 0 transparent;
}
.ns-lava_thumb, #project .filter .thumb {
    background-position: 100% -404px;
    left: 0;
    margin: 3px 15px 0 3px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.borderradius.boxshadow.cssgradients .ns-lava_thumb_left, .borderradius.boxshadow.cssgradients #project .filter .thumb b, #project .filter .thumb .borderradius.boxshadow.cssgradients b {
    display: none;
}
.ns-lava_thumb_left, #project .filter .thumb b {
    background-position: 0 -342px;
    height: 31px;
    left: 0;
    position: absolute;
    top: 0;
    width: 15px;
}
.borderradius.boxshadow.cssgradients .ns-lava_thumb_middle, .borderradius.boxshadow.cssgradients #project .filter .thumb span, #project .filter .thumb .borderradius.boxshadow.cssgradients span {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.13)) repeat scroll 0 0 #EEF3F6;
    border-radius: 18px 18px 18px 18px;
    box-shadow: 0 1px white inset, 0 1px rgba(0, 0, 0, 0.25);
    height: 30px;
    line-height: 30px;
    margin: 0 0 1px;
    padding: 0 15px;
}
.ns-lava_thumb_middle, #project .filter .thumb span {
    background-color: #E8EAF0;
    background-position: 0 -373px;
    background-repeat: repeat-x;
    display: block;
    height: 31px;
    line-height: 30px;
    margin: 0 15px;
}
/******* contact-form ********/
#contact-us .form{
	overflow: hidden;
}
.contact-form{
	clear: both;
	font-size: 1em;
	width: 420px;
	padding-right: 30px;
	float: left;
}
.contact-form .required{
	color: #006B92;
}
.contact-form .single-line, .contact-form .multi-line{
	clear: both;
	margin-bottom: 15px;	
}
.contact-form label{
	width: 100px;
	display: inline-block;
	vertical-align: top;
	float: left;
	text-align: right;
	padding: 2px 5px;
}
.contact-form input[type="text"], .contact-form input[type="email"]{
	border: 1px solid #ccc;
	padding: 2px 3px;
	font-size: 1em;
	width: 300px;
	background: none repeat scroll 0 0 #fff;
	color: white;
}
.contact-form textarea{
	width: 303px;
	background: none repeat scroll 0 0 #fff;
	color: white;
	border: 1px solid #ccc;
	float: left;
	clear: right;
}
.contact-form .buttons {
    float: right;
	clear: both;
}
.contact-form .buttons button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    overflow: visible;
    padding: 0;
}
.contact-form .buttons button > span {
    font-size: 16px;
    width: 150px;
}
.contact-form .buttons button > span span {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1)) repeat scroll 0 0 #EEF3F6;
   	border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28), 0 1px white inset;
    height: 40px;
    line-height: 40px;
    margin: 0 0 3px;
    padding: 0 16px;    
	color: #3C3E45;
    display: block;
}
.contact-form .indicators {
    float: left;
    margin: 15px 0 0;
}
.contact-form .indicators span {
    border: 1px solid;
    border-radius: 3px 3px 3px 3px;
    display: none;
    padding: 5px 10px;
}
.contact-form .indicators .success {
    background: none repeat scroll 0 0 #E7FFDA;
    color: #69AA46;
}
.contact-form .indicators .progress {
    background: none repeat scroll 0 0 #FFFBDA;
    color: #AAA046;
}
.contact-form .indicators .error {
    background: none repeat scroll 0 0 #FFE0DA;
    color: #AA5546;
}
#contact-us .info {
    float: right;
}
#contact-us .info dl {
    text-align: right;
    width: 220px;
}
#contact-us .info dt {
    display: none;
}
#contact-us .info dd {
    margin-bottom: 10px;
}
#contact-us .info dd.phone {
    font-size: 14px;
}
#contact-us .map {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 4px #B1B3B8, 0 1px white inset;
    clear: both;
    float: right;
    padding: 7px;
    width: 400px;
}
.no-boxshadow #contact-us .map {
    background: none repeat scroll 0 0 #EFF1F7;
    border: 1px solid #D0D2D7;
}
#contact-us .map figure {
    height: 253px;
}
/*********************** jQuery Tooltip ******************/
/* root element for pages */
#main {
  position:relative;
  overflow:hidden;
  height: 450px;
  }
  #pages {
  position:absolute;
  height:20000em;
  }
  .navi {
    height: 20px;
    margin-left: 328px;
    width: 200px;
}
.navi a {
    background: url("http://jquerytools.org/media/img/scrollable/arrow/navigator.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 1px;
    height: 8px;
    margin: 3px;
    width: 8px;
}

  /* single page */
  #project .page {
  padding:10px;
  height: 450px;
  background:#222 url(/media/img/gradient/h600.png) 0 0 repeat-x;
  width:520px;
  }

  /* root element for horizontal scrollables */
  #project .scrollable {
  position:relative;
  overflow:hidden;
  width: 510px;
  height: 450px;
  }

  /* root element for scrollable items */
  #project  .scrollable .items {
  width:20000em;
  position:absolute;
  clear:both;
  }

  /* single scrollable item */
  #project  .item {
  float:left;
  cursor:pointer;
  width:500px;
  height:450px;
  padding:10px;
  }

  /* main navigator */
  #main_navi {
  float:left;
  padding:0px !important;
  margin:0px !important;
  }

  #main_navi li {
  background-color:#333;
  border-top:1px solid #666;
  clear:both;
  color:#FFFFFF;
  font-size:12px;
  height:75px;
  list-style-type:none;
  padding:10px;
  width:190px;
  cursor:pointer;
  }

  #main_navi li:hover {
  background-color:#444;
  }

  #main_navi li.active {
  background-color:#555;
  }

  #main_navi img {
  float:left;
  margin-right:10px;
  }

  #main_navi strong {
  display:block;
  }

  #main div.navi {
  margin-left:250px;
  cursor:pointer;
  }